<div id="pictures">
    <div id="content">
        <img class="big" src="../assets/1996-infinite-big.jpg" id="banner-logo" alt="Image1" height="300" width="300"/>
        <img class="limited" src="../assets/1996-infinite-limited.jpg" id="banner-logo" alt="Image2" height="300" width="300"/>
        <img class="songs" src="../assets/1996-infinite-songs.jpg" id="banner-logo" alt="Image3" height="300" width="300"/>
        <img class="vinyl" src="../assets/1996-infinite-vinyl.jpg" id="banner-logo" alt="Image4" height="300" width="300"/>
    </div>
</div>